version: '3.1'
services:
  # API:
  #   image: 'universita-be'
  #   ports:
  #     - "8080:8080"
  #   depends_on:
  #     MySQL:
  #       condition: service_healthy
  #   environment:
  #     - SPRING_DATASOURCE_URL=jdbc:postgresql://PostgreSQL:5432/postgres
  #     - SPRING_DATASOURCE_USERNAME=postgres
  #     - SPRING_DATASOURCE_PASSWORD=root
  #     - SPRING_JPA_HIBERNATE_DDL_AUTO=update

  adminer:
    image: adminer
    restart: always
    ports:
      - 9080:8080

  unidb:
    volumes:
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./data/mysql:/var/lib/mysql
    container_name: db
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: universita
      
